
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
      <p>Si ve esto, poner un bloque en el hijo con los enlaces a los archivos css correspondientes de dicha pagina</p>
    {% endblock %}

    <title>Practica 3 SIBW {% block titulo %} Poner titulo en el hijo {% endblock %}</title>
</head>

<body>
    <!--Cabecera de la página, que contiene el logo, el nombre del sitio,
        el menú de navegación y botones sociales-->
    <header class="header-principal">
        <a href="index.php"><img id="logo" src="images/fanmusicfest.png" 
            alt="logo de fanmusicfest"></a>
        
        <div class="site-name">
          <h1>FanFestSound</h1>
        </div>

        <!--Barra de navegacion del menu superior-->
        <nav class="nav-bar">
            <a class="nav-bar-left-links" href="index.php">Home</a>
            <a class="nav-bar-left-links" href="index.php#eventos">Eventos</a>
            <a class="nav-bar-left-links" href="#">News</a>
            <a class="nav-bar-left-links" href="#foot">About</a>
            {% block sociales %}
              
            {% endblock %}
            <a class="red-soc-impr-item" href="https://facebook.com" target="_blank"><img src="images/facebook.png" alt="facebook_logo" 
                style="width: 20px; height: 21px;"></a>
            <a class="red-soc-impr-item" href="https://twitter.com/" target="_blank"><img src="images/twitter.png" alt="twitter_logo" 
                style="width: 20px; height: 21px;"></a>
        </nav>
    </header>
    

    <!--Apartado de la izquierda con enlaces a otras webs y noticias-->
    <nav class="left-sidebar-container">
      {% block left_sidebar_topic %}

      {% endblock %}
            <div class="left-sidebar-topic">
                <h3>Webs y noticias</h3>
            </div>
            <a class="left-sidebar-item" href="https://www.festicket.com/es/" target="_blank">Festicket Web Oficial</a>
            <a class="left-sidebar-item" href="https://fanmusicfest.com/" target="_blank">Fan Music Fest Web Oficial</a>
            <a class="left-sidebar-item" href="https://twitter.com/ultra" target="_blank">Twitter Oficial del Ultra Music Festival Miami</a>
            <a class="left-sidebar-item" href="https://cadenaser.com/ser/2021/03/02/cultura/1614685458_845545.html" target="_blank">Primavera Sound 2021 se suspende por las restricciones - SER</a>
            <a class="left-sidebar-item" href="https://www.mundodeportivo.com/actualidad/20180408/442202721344/diez-festivales-musica-espectaculares-mundo.html" target="_blank">Estos son los festivales de música más espectaculares del mundo - Mundo Deportivo</a>
            <a class="left-sidebar-item" href="https://www.festicket.com/es/magazine/discover/top-20-music-festivals-Europe/" target="_blank">Top 25 festivales Europa - Festicket</a>
    </nav>

    <!--Espacio principal de la pagina-->
    <div class="main">
      {% block central %}
        <h1>Texto de ejemplo del padre, si ve esto, hacer un bloque en el hijo</h1> 
      {% endblock %}
    </div>

    <!--Footer de la pagina-->
    <footer id="foot">
        <h2>Web de prueba para las prácticas de la asignatura SIBW (el logotipo no es mio, no se obtiene ningún beneficio económico con esta web)</h2>
        <h3> 2021 FanFestSound ● Practicas SIBW ● JNM </h3>
    </footer>

</body>
</html>