
{% extends "padre.html" %}


{% block titulo %}
  Evento
{% endblock %}

{% block js %}
    {{parent()}}
    <script src="js/funcionalidades_comentarios.js"></script>
    <script src="js/slideshow.js" defer></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="styles/estilos_generales.css">
  <link rel="stylesheet" href="styles/evento.css">
  <link rel="stylesheet" href="styles/comentarios.css">
  <link rel="stylesheet" href="styles/slideshow.css">
{% endblock %}

{% block sociales %}
<a class="red-soc-impr-item" href="evento_imprimir.php?ev={{evento.id}}" target="_blank"><img src="images/impresora.png" alt="printer" 
                style="width: 20px; height: 21px;"></a>
{{parent()}}
{% endblock %}



{% block left_sidebar_topic %}
  <div class="left-sidebar-topic">
    <h3>Información adicional</h3>
  </div>
  {% if evento.id == 1 %}
    <a class="left-sidebar-item" href="https://www.tomorrowland.com/home/" target="_blank">Tomorrowland Home</a>
    <a class="left-sidebar-item" href="https://www.tomorrowland.com/en/festival/welcome" target="_blank">Tomorrowland Festival Page</a>
    <a class="left-sidebar-item" href="https://faq.tomorrowland.com/hc/en-us" target="_blank">FAQ Tomorrowland</a>
  {% elseif evento.id == 2 %}
    <a class="left-sidebar-item" href="https://creamfields.com/" target="_blank">Creamfields Official Site</a>
    <a class="left-sidebar-item" href="https://creamfields.com/faq" target="_blank">Creamfields FAQ</a>
  {% endif %}


  <!--Linea separadora horizontal-->
  <hr>
{% endblock %}


{% block central %}
  <!--Cabecera con la foto, el nombre del evento y las fechas-->
  <div class="container-header-evento">
    <img id="tomorrowland_background" src="{{evento.path_foto_cabecera}}" alt="tomorroland_background">
    <div class="info-header-evento">
        <h1 id="titulo_evento">{{evento.nombre}}</h1>
        <p>{{evento.lugar}} <span>{{evento.fecha}} </span> </p>
    </div>
  </div>

  <!--Seccion para los organizadores-->
  <section class="organizadores">
      <p>Organizadores: {{evento.organizadores}}</p>
      {% if user.super == 1 or user.gestor == 1 %}
        <a id="lapiz-editar-evento" href="editarEvento.php?id={{evento.id}}"><img id="imagen-lapiz-evento" class="boton-comentario" src="images/edit_black.svg" alt="lapiz_edicion"></a>
      {% endif %}
  </section>

  <!--Seccion para poner la descripcion del evento y el slideshow de fotos-->
  <section class="descripcion-evento">
    <p>
      {% for tag in lista_tags %}
        <div class="md-chip">
          #{{tag.descripcion}}
        </div>  
      <!-- <span>{{tag.descripcion}}</span> -->
      {% endfor %}
    </p>
      <p id="descripcion_evento">{{evento.descripcion|nl2br}}</p>

      <div class="slideshow-container">
        {% for i in 0..fotos|length-1 %}
          <div class="mySlides fade">
            <div class="numbertext">{{i+1}} / {{fotos|length}}</div>
            <img src="{{fotos[i]['path_imagen']}}" alt="{{fotos[i]['caption']}}">
            <div class="text">{{fotos[i]['caption']}}</div>
          </div>
        {% endfor %}
        
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
          </div>
          <br>
          
          <div style="text-align:center">
            {% for i in 0..fotos|length-1 %}
              <span class="dot" onclick="currentSlide({{i+1}})"></span>
            {% endfor %}
          </div>
  </section>

  

  {% block comentarios%}
  <div>
    <img id="imagen_de_chat" src="images/chat.png" alt="imagen_de_chat" onclick="mostarFormulario('comment-section')">
  </div>    

  <section id="comment-section">
      <div class="comment-header">
          <h2>Comentarios</h2>
      </div>
      <hr>
      <div id="uploaded-comments">
        {% for comentario in comentarios %}
          <div class="comment">
            {% if (user.super == 1) or (user.mod == 1) %}
            <div class="botones-edicion-comentario">
              <a href="editarComentario.php?id={{comentario.id_comentario}}"><img class="boton-comentario" src="images/edit_black.svg" alt="lapiz_edicion"></a>
              <!-- <a href="editarPerfil.php"><img class="boton-comentario" src="images/delete_black.svg" alt="borrar_comentario"></a> -->
            </div>
            {% endif %}
              <h4 class="comment-author-date">{{comentario.nombre_usuario}}, comentado el {{comentario.fecha}} </h4>
              <p class="comment-content">{{comentario.descripcion|nl2br}} </p>
          </div>
        {% endfor %}
      </div>

      {% if esta_login == "sin cuenta" %}
          <div>
            <p id="mensaje-login-comentarios">Necesitas iniciar sesion para poder postear comentarios</p>
          </div>
        {% else %}
          <form method="POST" action="subirComentario.php?ev={{evento.id}}" onsubmit="return comprobar_textarea()">
            <ul>
              <!-- <li>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="user_name">
              </li>
              
              <li>
                <label for="mail">E-mail:</label>
                <input type="email" id="mail" name="user_mail">
              </li> -->

              <li>
                <label for="msg">Mensaje:</label>
                <!-- El json_encode es para que transforme 'palabras_ban' en una representacion de JSON, para usarlo en Javascript -->
                <textarea id="msg" name="user_message" oninput="censurar({{palabras_ban|json_encode}})"></textarea>
              </li>

              <li class="button">
                <input id="boton-comentario" type="submit" value="Enviar comentario" />
              </li>

              <!-- <li class="button">
                  <button type="button" onclick="enviarComentario()">Envíe su comentario</button>
              </li> -->
            </ul>
          </form>
        {% endif %}

      
  </section>
  {% endblock %}
{% endblock %}
