{% extends "padre.html" %}

{% block titulo %}
  Portada
{% endblock %}

{% block js %}
    {{parent()}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="styles/estilos_generales.css">
  <link rel="stylesheet" href="styles/portada.css">
{% endblock %}



{% block central %}
  <!--Texto de eventos y barra horizontal separadora-->
  <div id="eventos">
    <h2 id="texto-evento">Eventos</h2>
</div>
<hr>

<!--Seccion específica que alberga todos los eventos, con sus imagenes y 
    su informacion más importante-->
<section>
    <div class="flex-container">
        {% for evento in eventos %}
            <div>
                <div class="flex-item">
                    <a class="link-evento" href="evento.php?ev={{evento.id}}">
                        <img class="flex-img" src="{{evento.path_foto_cabecera}}" alt="foto_cabecera_del_festival">
                        <div>
                            <h3 class="flex-item-info">{{evento.nombre}}</h3>
                            <p class="sub-info"><em>{{evento.lugar}} <span>{{evento.fecha}}</span> </em></p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <!-- <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php?ev=1">
                    <img class="flex-img" src="images/tomorrowland.jpg" alt="tomorrowland festival">
                    <div>
                        <h3 class="flex-item-info">Tomorrowland 2021</h3>
                        <p class="sub-info"><em>Boom, Bélgica 16-18 y 23-25 Julio</em></p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php?ev=2">
                    <img class="flex-img" src="images/creamfields-2018.jpg" alt="creamfields festival">
                    <div>
                        <h3 class="flex-item-info">CreamFields 2021</h3>
                        <p class="sub-info"><em>Warrington, Reino Unido 26-29 Agosto</em></p>
                    </div>
                </a>                        
            </div>
        </div>
                        
        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/madcool.jpg" alt="madcool festival">
                    <div>
                        <h3 class="flex-item-info">Mad Cool Festival 2021</h3>
                        <p class="sub-info"><em>Madrid, España 7-10 Julio</em></p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/arenal-sound.jpg" alt="arenal-sound festival">
                    <div>
                        <h3 class="flex-item-info">Arenal Sound 2021</h3>
                        <p class="sub-info"><em>Burrianas, Valencia 27 Julio - 1 Agosto</em></p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/dreambeach.jpg" alt="dreambeach festival">
                    <div>
                        <h3 class="flex-item-info">Dreambeach 2021</h3>
                        <p class="sub-info"><em>Villaricos, Almería 4-8 Agosto</em></p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/defqon1.jpg" alt="defqon1 festival">
                    <div>
                        <h3 class="flex-item-info">Defqon 1 2021</h3>
                        <p class="sub-info"><em>Biddinghuizen, Países Bajos 25-27 Junio</em></p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/edc_portugal.jpg" alt="edc_portugal festival">
                    <div>
                        <h3 class="flex-item-info">EDC Portugal 2021</h3>
                        <p class="sub-info"><em>Praia da Rocha, Portugal 18-20 Junio</em></p>
                    </div>
                </a>                        
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/mysteryland.jpg" alt="mysteryland festival">
                    <div>
                        <h3 class="flex-item-info">Mysteryland 2021</h3>
                        <p class="sub-info"><em>Ámsterdam, Paises Bajos 27-29 Agosto</em></p>
                    </div>
                </a>                        
            </div>
        </div>

        <div>
            <div class="flex-item">
                <a class="link-evento" href="evento.php">
                    <img class="flex-img" src="images/Coachella.jpg" alt="Coachella festival">
                    <div>
                        <h3 class="flex-item-info">Coachella 2021</h3>
                        <p class="sub-info"><em>California, Estados Unidos 9-11 Abril</em></p>
                    </div>
                </a>
            </div>
        </div>-->
    </div> 
</section>
{% endblock %}
